{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Full Name</th>
                <th>Email Id</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Company Name</th>
                <th>Status</th>
                <th>Change Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{company.user.get_full_name}}</td>
                <td>{{company.user.email}}</td>
                <td>{{company.contactNo}}</td>
                <td>{{company.companyName}}</td>
                <td>{{company.companyAddress}}</td>
                <td>{{company.status}}</td>
                <td><a href="/change_status/{{company.id}}/" class="btn btn-secondary">Change Status</a></td>
                <td> <div>
                    <div class="form-group ">
                        <select id="gender" name="Gender" class="form-control">
                            <option value="male">{{company.status}}</option>
                            <option value="female">Pending</option>
                            <option value="female">Verified</option>
                            <option value="Emale">Rejected</option>
                        </select>
                    </div>
               </td>
                <td><a href="/deleteCompany/{{company.user.id}}/" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this company?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}