{% extends 'base.html' %}
{% block content %}
<style>
body{
    background-color: whitesmoke;
}
    img {
        height: 100%;
        width: 100%;
        margin-left: auto;
        display: block;
    }
#stats{
    background-color: #DC3545;
    text-align: center;

}
.navbar{
    background-color: #DC3545;
}

.stat-box{
    background-color: #DC3545;
}
.bg-color{
    background-color: #DC3545;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-color">
    <a class="navbar-brand p-2 font-weight-bold " href="#">JOB PORTAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto ml-auto " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'companyLogin' %}">Company</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Employee</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
<body>

    <div id="bg" class="container" >
        <div class="row">
            <div class="col-6 font-weight-bold display-1 text-left pt-5">
                <p>JOB PORTAL</p>
                <p class=" h3 text-align-centre">Find your Dream Job ;)</p>
            </div>
            <div class="col-6">
                <img src="{{BASIC_DIR}}/media/job-search-3.png" alt="">
            </div>
        </div>
    </div>
    <br><br>
<div class="container-fluid rounded p-2 stat-box">
    <div class="container stat-box" id="stats">
        <p class="h2 p-2 text-light font-weight-bold">JOB PORTAL STATS</p>
        <div class="row text-light ">
            <div class="col">
                <p class="font-weight-bold">
                     Companies 
                </p>
                <p class="h2">
                    {{company}}
                </p>
            </div>
            <div class="col">
                <p class="font-weight-bold">
                    Jobs Posted
                </p>
                <p class="h2">
                    {{Jobs}}
                </p>
            </div>
            <div class="col">
                <p class="font-weight-bold">
                    Employees
                </p>
                <p class="h2">
                    {{employee}}
                </p>
            </div>
            <div class="col">
                <p class="font-weight-bold">
                    Jobs Filled
                </p>
                <p class="h2">
                    {{Applied}}
                </p>
            </div>
        </div>
    </div>
</div>
<br><br>
<p class="text-center h2 font-weight-bold text-uppercase " style="letter-spacing: 1px;">Available Jobs</p>
<div class="container mt-3 ">

    <table class="table table-hover " id="example" >
        <thead class="bg-color text-light">
            <tr>
                <th>Company Name</th>
                <th>Job Title</th>
                <th>Salary</th>
                <th>Apply</th>
            </tr>
        </thead>
        <tbody class="" >
            {% for job in jobs %}
            <tr>
                <td>{{job.company.companyName}}</td>
                <td>{{job.title}}</td>
                <td>Rs {{job.salary}}/-</td>
                <td><a href="/login" class="btn btn-success">Apply</a></td>

            {% endfor %}
        </tbody>
    </table>
    </div>
    <footer class="container-fluid text-light pt-2 pb-1 text-center mt-1 mb-0 bg-color">
        <div>
            <p>&#169; 2022 Copyright:
                <span class="font-weight-bold">
                Izhan Atif
                
            </p>
        </div>
        </footer>

        

</body>

{% endblock %}